// BREAKPOINTS
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-plus: 992px;
$tablet-landscape: 1280px;
$desktop-extra: 1330px;
$break-max: 1600px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1170;
// COLOR
$white_0: #fff;
$white_1: rgba(255, 255, 255, 0.8);

$black_0: #000;
$black_1: rgba(0, 0, 0, 0.6);
$black_2: rgba(0, 0, 0, 0.4);

$pink_0: #ff4f58;

$orange_0: #fd7048;

$green_0: #2aeb2a;

$green_1: #007500;
